Analise dos data entre o burnout e instabilidade

In [48]:
import pandas as pd
import pingouin as pg
data = pd.read_excel('data/idade.xlsx')
data

,sexo,idade,formacao,curso,anoFormacao,tempoProfissional,tempoFuncao,funcao,metodologia,existenciaProjeto,...,ee1,et1,et2,et3,ee3,ci4,ee5,@15.Emrelaçãoasuasatisfaçãocomotrabalho,sat1,sat2
0,Feminino,31,Especialização,Agronegócio,2017,11,2,Product Owner,Ágil,6,...,1.0,7.0,7.0,7.0,2.0,1.0,2.0,NaN,7.0,7.0
1,Feminino,59,Doutorado,Ciência da computação,2019,20,15,Gerente,Híbrida,18,...,1.0,7.0,7.0,7.0,1.0,1.0,1.0,NaN,6.0,7.0
2,Feminino,35,Superior incompleto,Sistemas de Informação,2019,1,1,Desenvolvedor,Tradicional,12,...,2.0,7.0,6.0,5.0,2.0,1.0,1.0,NaN,4.0,4.0
3,Feminino,28,Superior incompleto,Ciência da computação,2021,10,1,Desenvolvedor,Ágil,6,...,1.0,7.0,7.0,6.0,2.0,1.0,4.0,NaN,7.0,7.0
4,Feminino,39,Doutorado,Ciência da computação,2021,10,7,Analista,Ágil,0,...,4.0,7.0,7.0,5.0,7.0,1.0,7.0,NaN,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,Masculino,35,Superior incompleto,Analise e desenvolvimento de sistemas,2022,14,6,Testador,Híbrida,7,...,1.0,7.0,7.0,7.0,1.0,1.0,1.0,NaN,7.0,7.0
449,Masculino,23,Superior incompleto,Engenharia da Computação,2020,3,3,Desenvolvedor,Ágil,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,Masculino,33,Superior completo,Ciência da computação,2009,10,10,Desenvolvedor,Ágil,10,...,2.0,6.0,5.0,5.0,1.0,1.0,1.0,NaN,7.0,5.0
451,Masculino,44,Mestrado,Sistemas de Informação,2015,09,12,Desenvolvedor,Ágil,36,...,5.0,4.0,5.0,4.0,5.0,4.0,5.0,NaN,6.0,7.0
452,Prefiro não declarar,33,Doutorado,Ciência da computação,2018,2,1,Testador,Híbrida,50,...,1.0,6.0,6.0,5.0,6.0,2.0,6.0,NaN,7.0,7.0

Retiranndo as columns que não tem resultados e retirando os NA

In [49]:
data.columns
a_retirar = [
    '@12.Emrelaçãoassuascaracterísticasporfavorresponda',
    '@13.Pararesponderasquestõesabaixoconsidereseuprojetoatua',
    '@14.Emrelaçãoaoseudiaadiadotrabalho',
    '@15.Emrelaçãoasuasatisfaçãocomotrabalho'

]

data.drop(columns= a_retirar, inplace=True)

data = data.dropna(axis=0)
data.columns

Index(['sexo', 'idade', 'formacao', 'curso', 'anoFormacao',
       'tempoProfissional', 'tempoFuncao', 'funcao', 'metodologia',
       'existenciaProjeto', 'mesesNoProjeto', 'S1', 'S2', 'S3', 'C2', 'C3',
       'C4', 'C1', 'EM4', 'EM1', 'EM3', 'EM2', 'T3', 'T1', 'T4', 'T2', 'I2',
       'I1', 'I4', 'I3', 'equipe1', 'reque1', 'reque2', 'reque3', 'tec1',
       'req4', 'tec2', 'tec3', 'tec4', 'req5', 'equipe2', 'equipe3', 'req6',
       'tec5', 'tec6', 'req7', 'equipe4', 'ci2', 'et6', 'ci3', 'satXet6',
       'ee6', 'ee2', 'et5', 'ci1', 'et4', 'ee1', 'et1', 'et2', 'et3', 'ee3',
       'ci4', 'ee5', 'sat1', 'sat2'],
      dtype='object')

In [50]:
def mudarSexo(sexo):
    if sexo == 'Masculino':
        return 1
    elif sexo == 'Feminino':
        return 0
    else:
        return 2

data['sexo'] = data['sexo'].apply(mudarSexo)
data

<ipython-input-50-fafa00838951>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sexo'] = data['sexo'].apply(mudarSexo)

,sexo,idade,formacao,curso,anoFormacao,tempoProfissional,tempoFuncao,funcao,metodologia,existenciaProjeto,...,et4,ee1,et1,et2,et3,ee3,ci4,ee5,sat1,sat2
0,0,31,Especialização,Agronegócio,2017,11,2,Product Owner,Ágil,6,...,1.0,1.0,7.0,7.0,7.0,2.0,1.0,2.0,7.0,7.0
1,0,59,Doutorado,Ciência da computação,2019,20,15,Gerente,Híbrida,18,...,1.0,1.0,7.0,7.0,7.0,1.0,1.0,1.0,6.0,7.0
2,0,35,Superior incompleto,Sistemas de Informação,2019,1,1,Desenvolvedor,Tradicional,12,...,2.0,2.0,7.0,6.0,5.0,2.0,1.0,1.0,4.0,4.0
3,0,28,Superior incompleto,Ciência da computação,2021,10,1,Desenvolvedor,Ágil,6,...,1.0,1.0,7.0,7.0,6.0,2.0,1.0,4.0,7.0,7.0
4,0,39,Doutorado,Ciência da computação,2021,10,7,Analista,Ágil,0,...,1.0,4.0,7.0,7.0,5.0,7.0,1.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,1,25,Superior incompleto,Ciência da computação,2021,2,1,Desenvolvedor,Híbrida,2,...,2.0,2.0,7.0,7.0,7.0,2.0,2.0,2.0,7.0,7.0
448,1,35,Superior incompleto,Analise e desenvolvimento de sistemas,2022,14,6,Testador,Híbrida,7,...,1.0,1.0,7.0,7.0,7.0,1.0,1.0,1.0,7.0,7.0
450,1,33,Superior completo,Ciência da computação,2009,10,10,Desenvolvedor,Ágil,10,...,2.0,2.0,6.0,5.0,5.0,1.0,1.0,1.0,7.0,5.0
451,1,44,Mestrado,Sistemas de Informação,2015,09,12,Desenvolvedor,Ágil,36,...,4.0,5.0,4.0,5.0,4.0,5.0,4.0,5.0,6.0,7.0
452,2,33,Doutorado,Ciência da computação,2018,2,1,Testador,Híbrida,50,...,1.0,1.0,6.0,6.0,5.0,6.0,2.0,6.0,7.0,7.0

In [51]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
sexo,411.0,0.834550,0.378538,0.0,1.0,1.0,1.0,2.0
idade,411.0,29.552311,6.585947,18.0,25.0,28.0,33.0,59.0
anoFormacao,411.0,1996.425791,198.214053,0.0,2014.0,2017.0,2019.0,2024.0
existenciaProjeto,411.0,27.442822,63.587416,0.0,5.0,12.0,24.0,1000.0
mesesNoProjeto,411.0,10.643552,15.785145,0.0,3.0,6.0,12.0,126.0
S1,411.0,5.591241,1.330073,1.0,5.0,6.0,7.0,7.0
S2,411.0,6.097324,1.093336,2.0,6.0,6.0,7.0,7.0
S3,411.0,5.262774,1.432736,1.0,4.0,5.0,6.0,7.0
C2,411.0,5.540146,1.412563,1.0,5.0,6.0,7.0,7.0
C3,411.0,5.690998,1.205431,1.0,5.0,6.0,7.0,7.0
C4,411.0,5.046229,1.555573,1.0,4.0,5.0,6.0,7.0
C1,411.0,5.878345,1.217672,1.0,5.0,6.0,7.0,7.0
EM4,411.0,5.513382,1.303538,1.0,5.0,6.0,7.0,7.0
EM1,411.0,5.639903,1.265591,2.0,5.0,6.0,7.0,7.0
EM3,411.0,5.652068,1.184499,1.0,5.0,6.0,7.0,7.0
EM2,411.0,5.201946,1.321712,1.0,4.0,5.0,6.0,7.0
T3,411.0,5.948905,1.130429,2.0,5.0,6.0,7.0,7.0
T1,411.0,5.683698,1.338803,1.0,5.0,6.0,7.0,7.0
T4,411.0,5.510949,1.419980,1.0,5.0,6.0,7.0,7.0
T2,411.0,6.060827,1.110350,1.0,5.0,6.0,7.0,7.0
I2,411.0,6.523114,0.900583,1.0,6.0,7.0,7.0,7.0
I1,411.0,6.248175,0.932720,2.0,6.0,6.0,7.0,7.0
I4,411.0,6.012165,1.053379,2.0,5.0,6.0,7.0,7.0
I3,411.0,5.980535,1.119499,1.0,5.0,6.0,7.0,7.0
equipe1,411.0,4.678832,1.998540,1.0,3.0,5.0,7.0,7.0
reque1,411.0,4.622871,1.940923,1.0,3.0,5.0,6.0,7.0
reque2,411.0,5.133820,1.765275,1.0,4.0,5.0,7.0,7.0
reque3,411.0,4.975669,1.721993,1.0,4.0,5.0,6.0,7.0
tec1,411.0,4.581509,1.881890,1.0,3.0,5.0,6.0,7.0
req4,411.0,4.700730,1.775298,1.0,3.5,5.0,6.0,7.0
tec2,411.0,3.026764,1.890093,1.0,1.0,3.0,4.0,7.0
tec3,411.0,4.077859,1.880262,1.0,2.0,4.0,6.0,7.0
tec4,411.0,3.763990,1.951927,1.0,2.0,4.0,5.0,7.0
req5,411.0,5.111922,1.708552,1.0,4.0,5.0,7.0,7.0
equipe2,411.0,3.802920,1.848557,1.0,2.0,4.0,5.0,7.0
equipe3,411.0,3.394161,2.048287,1.0,2.0,3.0,5.0,7.0
req6,411.0,4.802920,1.665311,1.0,4.0,5.0,6.0,7.0
tec5,411.0,4.630170,1.539548,1.0,4.0,5.0,6.0,7.0
tec6,411.0,5.116788,1.812150,1.0,4.0,5.0,7.0,7.0
req7,411.0,4.377129,1.888699,1.0,3.0,4.0,6.0,7.0
equipe4,411.0,3.778589,1.979684,1.0,2.0,4.0,5.0,7.0
ci2,411.0,3.411192,2.143344,1.0,1.0,3.0,5.0,7.0
et6,411.0,5.532847,1.400615,1.0,5.0,6.0,7.0,7.0
ci3,411.0,1.890511,1.458426,1.0,1.0,1.0,2.0,7.0
satXet6,411.0,5.092457,1.609792,1.0,4.0,5.0,6.0,7.0
ee6,411.0,3.557178,2.000857,1.0,2.0,4.0,5.0,7.0
ee2,411.0,3.389294,2.024070,1.0,2.0,3.0,5.0,7.0
et5,411.0,5.739659,1.230847,1.0,5.0,6.0,7.0,7.0
ci1,411.0,2.459854,1.849250,1.0,1.0,2.0,4.0,7.0
et4,411.0,1.851582,1.443190,1.0,1.0,1.0,2.0,7.0
ee1,411.0,2.832117,1.997203,1.0,1.0,2.0,4.0,7.0
et1,411.0,6.189781,1.180324,1.0,6.0,7.0,7.0,7.0
et2,411.0,5.523114,1.540138,1.0,4.0,6.0,7.0,7.0
et3,411.0,5.513382,1.303538,1.0,5.0,6.0,7.0,7.0
ee3,411.0,3.532847,2.131246,1.0,2.0,3.0,5.0,7.0
ci4,411.0,1.919708,1.543160,1.0,1.0,1.0,2.0,7.0
ee5,411.0,4.012165,2.135038,1.0,2.0,4.0,6.0,7.0
sat1,411.0,5.333333,1.551815,1.0,4.0,6.0,7.0,7.0
sat2,411.0,5.557178,1.531305,1.0,5.0,6.0,7.0,7.0

Criando as váriaveis e eliminando as colunas

In [52]:
data['Cinismo'] = (data['ci1']+data['ci2']+data['ci3']+data['ci4'])/4
data['Exaustão'] = (data['ee1']+data['ee2']+data['ee3']+data['ee5']+data['ee6'])/6
data['Eficacia'] = (data['et1']+data['et2']+data['et3']+data['et4']+data['et5']+data['satXet6'])/6
data['Inst.Equipe'] = (data['equipe1']+data['equipe2']+data['equipe3']+data['equipe4'])/4
data['Inst.Tecnica'] = (data['tec1']+data['tec2']+data['tec3']+data['tec4'])/4
data['Inst.Tarefa'] = (data['reque1']+data['reque2']+data['reque3']+data['req4']+data['req5']+data['req6']+data['req7'])/7


labels = ['S1', 'S2', 'S3',
          'C2', 'C3', 'C4', 'C1', 'EM4', 'EM1', 'EM3', 'EM2', 'T3', 'T1', 'T4',
          'T2', 'I2', 'I1', 'I4', 'I3', 'equipe1',
          'reque1', 'reque2', 'reque3', 'tec1', 'req4', 'tec2', 'tec3', 'tec4',
          'req5', 'equipe2', 'equipe3', 'req6', 'tec5', 'tec6', 'req7', 'equipe4',
          'ci2', 'et6', 'ci3', 'satXet6',
          'ee6', 'ee2', 'et5', 'ci1', 'et4', 'ee1', 'et1', 'et2', 'et3', 'ee3',
          'ci4', 'ee5', 'sat1', 'sat2']
data.drop(columns = labels, inplace=True)

<ipython-input-52-e7c3c49ad5ec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Cinismo'] = (data['ci1']+data['ci2']+data['ci3']+data['ci4'])/4
<ipython-input-52-e7c3c49ad5ec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Exaustão'] = (data['ee1']+data['ee2']+data['ee3']+data['ee5']+data['ee6'])/6
<ipython-input-52-e7c3c49ad5ec>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Eficacia'] = (data['et1']+data['et2']+data['et3']+data['et4']+data['et5']+data['satXet6'])/6
<ipython-input-52-e7c3c49ad5ec>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Inst.Equipe'] = (data['equipe1']+data['equipe2']+data['equipe3']+data['equipe4'])/4
<ipython-input-52-e7c3c49ad5ec>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Inst.Tecnica'] = (data['tec1']+data['tec2']+data['tec3']+data['tec4'])/4
<ipython-input-52-e7c3c49ad5ec>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Inst.Tarefa'] = (data['reque1']+data['reque2']+data['reque3']+data['req4']+data['req5']+data['req6']+data['req7'])/7
/home/danilo/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [53]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
sexo,411.0,0.834550,0.378538,0.000000,1.000000,1.000000,1.000000,2.000000
idade,411.0,29.552311,6.585947,18.000000,25.000000,28.000000,33.000000,59.000000
anoFormacao,411.0,1996.425791,198.214053,0.000000,2014.000000,2017.000000,2019.000000,2024.000000
existenciaProjeto,411.0,27.442822,63.587416,0.000000,5.000000,12.000000,24.000000,1000.000000
mesesNoProjeto,411.0,10.643552,15.785145,0.000000,3.000000,6.000000,12.000000,126.000000
Cinismo,411.0,2.420316,1.393432,1.000000,1.250000,2.000000,3.250000,7.000000
Exaustão,411.0,2.887267,1.339163,0.833333,1.833333,2.666667,3.833333,5.833333
Eficacia,411.0,4.984996,0.735550,2.500000,4.500000,5.000000,5.500000,6.833333
Inst.Equipe,411.0,3.913625,1.309495,1.000000,3.000000,3.750000,4.750000,7.000000
Inst.Tecnica,411.0,3.862530,1.293023,1.000000,2.875000,4.000000,4.750000,7.000000
Inst.Tarefa,411.0,4.817866,1.283388,1.142857,4.000000,5.000000,5.714286,7.000000

Irei aplicar o teste de spearman porque a distribuicao nao é normal

In [54]:
data.corr(method = 'spearman')

,sexo,idade,anoFormacao,existenciaProjeto,mesesNoProjeto,Cinismo,Exaustão,Eficacia,Inst.Equipe,Inst.Tecnica,Inst.Tarefa
sexo,1.000000,0.071257,-0.069447,0.017205,0.037471,-0.102017,-0.083643,0.071959,-0.099336,-0.140607,-0.112877
idade,0.071257,1.000000,-0.601946,-0.024104,0.044443,-0.051201,-0.088679,0.090729,-0.005103,-0.051233,0.009188
anoFormacao,-0.069447,-0.601946,1.000000,-0.056079,-0.078314,-0.014786,0.037132,-0.011449,0.065948,0.104835,-0.032619
existenciaProjeto,0.017205,-0.024104,-0.056079,1.000000,0.639353,0.041327,0.011233,-0.071879,0.094015,-0.017986,0.051611
mesesNoProjeto,0.037471,0.044443,-0.078314,0.639353,1.000000,0.050868,0.033784,-0.003585,0.134324,0.025169,0.198340
Cinismo,-0.102017,-0.051201,-0.014786,0.041327,0.050868,1.000000,0.681187,-0.549427,0.326417,0.274082,0.316111
Exaustão,-0.083643,-0.088679,0.037132,0.011233,0.033784,0.681187,1.000000,-0.459611,0.285282,0.215631,0.296806
Eficacia,0.071959,0.090729,-0.011449,-0.071879,-0.003585,-0.549427,-0.459611,1.000000,-0.094937,-0.079720,-0.057912
Inst.Equipe,-0.099336,-0.005103,0.065948,0.094015,0.134324,0.326417,0.285282,-0.094937,1.000000,0.556647,0.551049
Inst.Tecnica,-0.140607,-0.051233,0.104835,-0.017986,0.025169,0.274082,0.215631,-0.079720,0.556647,1.000000,0.511541
Inst.Tarefa,-0.112877,0.009188,-0.032619,0.051611,0.198340,0.316111,0.296806,-0.057912,0.551049,0.511541,1.000000

-não existe coleção relevante com idade 
-existe apenas uma correlação fraca entre ano de formacao com inst.tecnica
Pessoas que tem seu ano de formacao maior, observam a instabilidade tecnica maior (0.10)
-Pessoas com mais meses no projeto percebem mais inst.equipe (0.13)
-Pessoas com mais meses no projeto percebem mais inst.tarefa(0.19)

In [55]:

data.corr(method = 'spearman').to_excel("correlacao_completa.xlsx")

In [69]:
data_masculino = data.loc[data['sexo']==1 ]
data_masculino.corr(method = 'spearman')

,sexo,idade,anoFormacao,existenciaProjeto,mesesNoProjeto,Cinismo,Exaustão,Eficacia,Inst.Equipe,Inst.Tecnica,Inst.Tarefa
sexo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
idade,NaN,1.000000,-0.615097,-0.018929,0.047709,-0.028802,-0.078872,0.038681,0.016385,-0.003821,0.046053
anoFormacao,NaN,-0.615097,1.000000,-0.048824,-0.076627,-0.025552,0.027910,-0.002891,0.068718,0.073775,-0.060001
existenciaProjeto,NaN,-0.018929,-0.048824,1.000000,0.616003,0.040890,0.000058,-0.058110,0.088414,-0.036444,0.054459
mesesNoProjeto,NaN,0.047709,-0.076627,0.616003,1.000000,0.066276,0.023153,-0.017330,0.137200,0.010814,0.222435
Cinismo,NaN,-0.028802,-0.025552,0.040890,0.066276,1.000000,0.657503,-0.507271,0.359401,0.284031,0.330184
Exaustão,NaN,-0.078872,0.027910,0.000058,0.023153,0.657503,1.000000,-0.423090,0.320639,0.225390,0.288772
Eficacia,NaN,0.038681,-0.002891,-0.058110,-0.017330,-0.507271,-0.423090,1.000000,-0.096744,-0.077948,-0.037135
Inst.Equipe,NaN,0.016385,0.068718,0.088414,0.137200,0.359401,0.320639,-0.096744,1.000000,0.553050,0.559185
Inst.Tecnica,NaN,-0.003821,0.073775,-0.036444,0.010814,0.284031,0.225390,-0.077948,0.553050,1.000000,0.503795
Inst.Tarefa,NaN,0.046053,-0.060001,0.054459,0.222435,0.330184,0.288772,-0.037135,0.559185,0.503795,1.000000

In [56]:
a_retirar = [
    'idade',
    'anoFormacao',
    'existenciaProjeto',
    'mesesNoProjeto'
]


data_limpa  = data.drop(columns = a_retirar)
data_masculino = data_limpa.loc[data_limpa['sexo']==1 ]

#data_masculino.drop('sexo', inplace= True)
data_masculino.corr(method = 'spearman')

data_masculino.corr(method = 'spearman').to_excel("masculina_completa.xlsx")

In [57]:
data_masculino.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
sexo,341.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
Cinismo,341.0,2.350440,1.342871,1.000000,1.250000,2.000000,3.250000,7.000000
Exaustão,341.0,2.827957,1.317202,0.833333,1.666667,2.666667,3.666667,5.833333
Eficacia,341.0,5.009286,0.729174,2.500000,4.666667,5.000000,5.500000,6.833333
Inst.Equipe,341.0,3.852639,1.279111,1.000000,2.750000,3.750000,4.750000,7.000000
Inst.Tecnica,341.0,3.774927,1.283135,1.000000,2.750000,3.750000,4.750000,7.000000
Inst.Tarefa,341.0,4.764139,1.285749,1.142857,4.000000,4.857143,5.714286,7.000000

data_masculino.corr(method = 'spearman')

In [58]:
data_masculino

,sexo,formacao,curso,tempoProfissional,tempoFuncao,funcao,metodologia,Cinismo,Exaustão,Eficacia,Inst.Equipe,Inst.Tecnica,Inst.Tarefa
72,1,Doutorado,Ciência da computação,13,13,Desenvolvedor,Ágil,1.50,2.833333,5.833333,3.25,2.75,2.571429
73,1,Doutorado,Ciência da computação,6,5,Desenvolvedor,Ágil,2.50,2.666667,5.500000,4.25,5.25,5.142857
74,1,Doutorado,Ciência da computação,4,2,Desenvolvedor,Ágil,1.75,2.166667,4.333333,3.00,3.50,3.142857
75,1,Superior incompleto,Sistemas de Informação,2,2,Desenvolvedor,Híbrida,1.50,3.000000,4.500000,4.75,5.25,4.142857
76,1,Superior incompleto,Ciência da computação,2,2,Desenvolvedor,Ágil,1.00,1.166667,5.000000,2.00,2.25,2.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,1,Superior completo,Química Industrial e atualmente com o curso de...,10,3,Analista,Ágil,2.25,3.500000,5.166667,5.00,5.50,4.285714
447,1,Superior incompleto,Ciência da computação,2,1,Desenvolvedor,Híbrida,4.25,3.166667,6.166667,3.75,3.50,6.142857
448,1,Superior incompleto,Analise e desenvolvimento de sistemas,14,6,Testador,Híbrida,1.00,1.333333,6.000000,4.50,5.25,5.571429
450,1,Superior completo,Ciência da computação,10,10,Desenvolvedor,Ágil,1.50,1.333333,4.666667,4.00,5.00,5.571429
451,1,Mestrado,Sistemas de Informação,09,12,Desenvolvedor,Ágil,4.25,4.000000,4.333333,4.25,4.75,4.571429

In [70]:
data_feminino = data.loc[data['sexo']==0]

#data_feminino.drop('sexo', inplace= True)
data_feminino.corr(method = 'spearman')

,sexo,idade,anoFormacao,existenciaProjeto,mesesNoProjeto,Cinismo,Exaustão,Eficacia,Inst.Equipe,Inst.Tecnica,Inst.Tarefa
sexo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
idade,NaN,1.000000,-0.557226,-0.050593,0.046435,-0.103751,-0.106359,0.310921,-0.048149,-0.239245,-0.139357
anoFormacao,NaN,-0.557226,1.000000,-0.097340,-0.092154,0.005511,0.035437,-0.037005,0.022409,0.231267,0.099640
existenciaProjeto,NaN,-0.050593,-0.097340,1.000000,0.750670,0.034805,0.034593,-0.120502,0.081058,0.039989,0.067334
mesesNoProjeto,NaN,0.046435,-0.092154,0.750670,1.000000,0.005270,0.084344,0.063979,0.135142,0.124566,0.146956
Cinismo,NaN,-0.103751,0.005511,0.034805,0.005270,1.000000,0.775279,-0.695512,0.122397,0.180747,0.222811
Exaustão,NaN,-0.106359,0.035437,0.034593,0.084344,0.775279,1.000000,-0.609010,0.082383,0.103736,0.323677
Eficacia,NaN,0.310921,-0.037005,-0.120502,0.063979,-0.695512,-0.609010,1.000000,-0.016851,-0.026640,-0.111855
Inst.Equipe,NaN,-0.048149,0.022409,0.081058,0.135142,0.122397,0.082383,-0.016851,1.000000,0.545216,0.472765
Inst.Tecnica,NaN,-0.239245,0.231267,0.039989,0.124566,0.180747,0.103736,-0.026640,0.545216,1.000000,0.502250
Inst.Tarefa,NaN,-0.139357,0.099640,0.067334,0.146956,0.222811,0.323677,-0.111855,0.472765,0.502250,1.000000

In [59]:
data_feminino = data_limpa.loc[data_limpa['sexo']==0]

#data_feminino.drop('sexo', inplace= True)
data_feminino.corr(method = 'spearman')
data_feminino.corr(method = 'spearman').to_excel("feminino_completa.xlsx")

In [60]:
data_feminino.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
sexo,69.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Cinismo,69.0,2.782609,1.585152,1.000000,1.250000,2.250000,3.750000,6.750000
Exaustão,69.0,3.173913,1.426132,0.833333,2.000000,3.000000,4.333333,5.833333
Eficacia,69.0,4.862319,0.764808,3.166667,4.333333,4.833333,5.500000,6.000000
Inst.Equipe,69.0,4.221014,1.428785,1.250000,3.250000,4.250000,5.250000,7.000000
Inst.Tecnica,69.0,4.275362,1.268354,1.000000,3.500000,4.250000,5.250000,7.000000
Inst.Tarefa,69.0,5.086957,1.255532,1.714286,4.285714,5.428571,6.000000,7.000000

In [61]:
data_feminino.corr(method = 'spearman')

,sexo,Cinismo,Exaustão,Eficacia,Inst.Equipe,Inst.Tecnica,Inst.Tarefa
sexo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cinismo,NaN,1.000000,0.775279,-0.695512,0.122397,0.180747,0.222811
Exaustão,NaN,0.775279,1.000000,-0.609010,0.082383,0.103736,0.323677
Eficacia,NaN,-0.695512,-0.609010,1.000000,-0.016851,-0.026640,-0.111855
Inst.Equipe,NaN,0.122397,0.082383,-0.016851,1.000000,0.545216,0.472765
Inst.Tecnica,NaN,0.180747,0.103736,-0.026640,0.545216,1.000000,0.502250
Inst.Tarefa,NaN,0.222811,0.323677,-0.111855,0.472765,0.502250,1.000000

In [62]:
data_feminino

,sexo,formacao,curso,tempoProfissional,tempoFuncao,funcao,metodologia,Cinismo,Exaustão,Eficacia,Inst.Equipe,Inst.Tecnica,Inst.Tarefa
0,0,Especialização,Agronegócio,11,2,Product Owner,Ágil,1.00,1.333333,6.000000,4.00,3.25,5.000000
1,0,Doutorado,Ciência da computação,20,15,Gerente,Híbrida,2.25,1.166667,5.666667,6.00,5.00,5.714286
2,0,Superior incompleto,Sistemas de Informação,1,1,Desenvolvedor,Tradicional,2.25,1.500000,5.166667,2.50,2.25,5.000000
3,0,Superior incompleto,Ciência da computação,10,1,Desenvolvedor,Ágil,1.00,1.500000,5.833333,3.00,4.00,2.714286
4,0,Doutorado,Ciência da computação,10,7,Analista,Ágil,3.00,4.833333,5.333333,4.50,4.50,6.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,0,Mestrado,Ciência da computação,16,4,Desenvolvedor,Ágil,1.25,2.000000,5.333333,1.25,3.00,3.714286
67,0,Superior incompleto,Ciência da computação,2,2,Desenvolvedor,Ágil,2.25,1.833333,4.833333,6.00,6.00,6.857143
69,0,Superior incompleto,Análise e Desenvolvimento de Sistemas,3,3,Testador,Híbrida,1.00,2.666667,5.500000,5.50,3.50,6.000000
70,0,Superior completo,Sistemas de Informação,3,2,Testador,Ágil,1.00,1.500000,5.833333,2.00,3.75,5.714286
71,0,Mestrado,Ciência da computação,5,5,Desenvolvedor,Ágil,1.25,1.666667,5.166667,4.50,4.00,4.857143

Agora eu irei aplicar o teste MWU

The Mann-Whitney U test is a nonparametric test of the null hypothesis that the distribution underlying sample x is the same as the distribution underlying sample y. It is often used as a test of difference in location between distributions.

Esse teste foi escolhido porque as distribuições nao sao paramétricas.
Além disso, as respostas são independentes.

O teste diz que se p-val<0.05, as distribuições são semelhantes, do contrário, são diferente.

In [63]:
pg.mwu(data_masculino['Cinismo'], data_feminino['Cinismo'])

       U-val       tail     p-val       RBC      CLES
MWU  10001.5  two-sided  0.048113  0.149858  0.425071

Cinismo é marginalmente  igual

In [64]:
pg.mwu(data_masculino['Exaustão'], data_feminino['Exaustão'])

       U-val       tail     p-val       RBC      CLES
MWU  10170.5  two-sided  0.075633  0.135492  0.432254

exaustao é  diferente

In [65]:
pg.mwu(data_masculino['Eficacia'], data_feminino['Eficacia'])

       U-val       tail     p-val       RBC      CLES
MWU  13059.5  two-sided  0.148194 -0.110077  0.555038

eficacia é bem diferente

In [66]:
pg.mwu(data_masculino['Inst.Equipe'], data_feminino['Inst.Equipe'])

      U-val       tail     p-val       RBC      CLES
MWU  9986.5  two-sided  0.047316  0.151133  0.424434

Inst.Equipe é marginalmente igual

In [67]:
pg.mwu(data_masculino['Inst.Tarefa'], data_feminino['Inst.Tarefa'])

      U-val       tail     p-val       RBC      CLES
MWU  9748.0  two-sided  0.024627  0.171405  0.414297

Inst.tarefa é igual

In [68]:
pg.mwu(data_masculino['Inst.Tecnica'], data_feminino['Inst.Tecnica'])

      U-val       tail     p-val       RBC      CLES
MWU  9047.5  two-sided  0.002435  0.230949  0.384525

inst técnica é diferente