Perguntas de pesquisa que irão guiar essa investigação

Será que existem diferenças entre os níveis de adaptação, satisfação e burnout entre homens e mulheres?
Será que existem diferenças entre os níveis de adaptação, satisfação e burnout entre os níveis e formação ?
Será que existem diferenças entre os níveis de adaptação, satisfação e burnout entre pessoas mais e menos experientes ?
Será que existem diferenças enrtre os níveis de adaptação, satisfação e burnout entre pessoas mais velhas e mais novas?
Será que existem diferenças entre os níveis de adaptação, satisfação e burnout e as funções realizadas nos projetos?

In [17]:
import pandas as pd

dados = pd.read_excel('/home/danilo/Documentos/GitHub/PesquisaIdade/data/idade.xlsx')
dados.head()

,sexo,idade,formacao,curso,anoFormacao,tempoProfissional,tempoFuncao,funcao,metodologia,existenciaProjeto,...,ee1,et1,et2,et3,ee3,ci4,ee5,@15.Emrelaçãoasuasatisfaçãocomotrabalho,sat1,sat2
0,Feminino,31,Especialização,Agronegócio,2017,11,2,Product Owner,Ágil,6,...,1.0,7.0,7.0,7.0,2.0,1.0,2.0,NaN,7.0,7.0
1,Feminino,59,Doutorado,Ciência da computação,2019,20,15,Gerente,Híbrida,18,...,1.0,7.0,7.0,7.0,1.0,1.0,1.0,NaN,6.0,7.0
2,Feminino,35,Superior incompleto,Sistemas de Informação,2019,1,1,Desenvolvedor,Tradicional,12,...,2.0,7.0,6.0,5.0,2.0,1.0,1.0,NaN,4.0,4.0
3,Feminino,28,Superior incompleto,Ciência da computação,2021,10,1,Desenvolvedor,Ágil,6,...,1.0,7.0,7.0,6.0,2.0,1.0,4.0,NaN,7.0,7.0
4,Feminino,39,Doutorado,Ciência da computação,2021,10,7,Analista,Ágil,0,...,4.0,7.0,7.0,5.0,7.0,1.0,7.0,NaN,7.0,7.0

Será que existem diferenças entre os níveis de adaptação, satisfação e burnout entre homens e mulheres?

In [21]:
dados_masculinos = dados.query("sexo == 'Masculino'")
dados_femininos = dados.query("sexo == 'Feminino'")
print ("Masculino")
print (dados_masculinos.describe())
print("-------------------------------")
print("Feminino")
print (dados_femininos.describe())

Masculino
            idade  anoFormacao  existenciaProjeto  mesesNoProjeto  \
count  380.000000   380.000000         380.000000      380.000000
mean    29.639474  1994.665789          25.023684       10.632895
std      6.392940   206.063638          40.615540       15.289471
min     18.000000     0.000000           0.000000        0.000000
25%     25.000000  2014.000000           5.000000        3.000000
50%     29.000000  2017.000000          12.000000        6.000000
75%     33.000000  2019.000000          24.000000       12.000000
max     56.000000  2024.000000         360.000000      126.000000

       @12.Emrelaçãoassuascaracterísticasporfavorresponda          S1  \
count                                                0.0   380.000000
mean                                                 NaN     5.652632
std                                                  NaN     1.285342
min                                                  NaN     1.000000
25%                                                  NaN     5.000000
50%                                                  NaN     6.000000
75%                                                  NaN     7.000000
max                                                  NaN     7.000000

               S2          S3          C2          C3  ...         ee1  \
count  380.000000  380.000000  380.000000  380.000000  ...  344.000000
mean     6.131579    5.310526    5.644737    5.707895  ...    2.793605
std      1.051975    1.400488    1.369706    1.207470  ...    1.964960
min      2.000000    1.000000    1.000000    1.000000  ...    1.000000
25%      6.000000    4.000000    5.000000    5.000000  ...    1.000000
50%      6.000000    6.000000    6.000000    6.000000  ...    2.000000
75%      7.000000    6.000000    7.000000    7.000000  ...    4.000000
max      7.000000    7.000000    7.000000    7.000000  ...    7.000000

              et1         et2         et3         ee3         ci4         ee5  \
count  344.000000  344.000000  344.000000  343.000000  344.000000  344.000000
mean     6.180233    5.590116    5.540698    3.419825    1.875000    3.933140
std      1.210770    1.499472    1.288467    2.103704    1.505699    2.125413
min      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      6.000000    5.000000    5.000000    2.000000    1.000000    2.000000
50%      7.000000    6.000000    6.000000    3.000000    1.000000    4.000000
75%      7.000000    7.000000    7.000000    5.000000    2.000000    6.000000
max      7.000000    7.000000    7.000000    7.000000    7.000000    7.000000

       @15.Emrelaçãoasuasatisfaçãocomotrabalho        sat1        sat2
count                                      0.0  344.000000  344.000000
mean                                       NaN    5.363372    5.607558
std                                        NaN    1.524894    1.525316
min                                        NaN    1.000000    1.000000
25%                                        NaN    4.750000    5.000000
50%                                        NaN    6.000000    6.000000
75%                                        NaN    7.000000    7.000000
max                                        NaN    7.000000    7.000000

[8 rows x 62 columns]
-------------------------------
Feminino
           idade  anoFormacao  existenciaProjeto  mesesNoProjeto  \
count  72.000000    72.000000          72.000000       72.000000
mean   29.305556  2016.666667          41.680556       10.694444
std     7.799673     4.093967         123.987258       16.198278
min    19.000000  2002.000000           0.000000        0.000000
25%    24.000000  2015.000000           5.000000        2.750000
50%    27.000000  2018.000000          11.500000        6.000000
75%    31.500000  2020.000000          25.000000       11.250000
max    59.000000  2022.000000        1000.000000      110.000000

       @12.Emrelaçãoassuascaracterísticasporfavorresponda         S1  \
count                                                0.0   72.000000
mean                                                 NaN    5.263889
std                                                  NaN    1.433926
min                                                  NaN    1.000000
25%                                                  NaN    4.000000
50%                                                  NaN    6.000000
75%                                                  NaN    6.000000
max                                                  NaN    7.000000

              S2         S3         C2         C3  ...        ee1        et1  \
count  72.000000  72.000000  72.000000  72.000000  ...  69.000000  69.000000
mean    5.916667   4.944444   5.069444   5.458333  ...   3.144928   6.173913
std     1.218981   1.564473   1.377141   1.186040  ...   2.177933   1.084063
min     2.000000   1.000000   1.000000   1.000000  ...   1.000000   3.000000
25%     5.000000   4.000000   4.000000   5.000000  ...   1.000000   6.000000
50%     6.000000   5.000000   5.000000   6.000000  ...   2.000000   7.000000
75%     7.000000   6.000000   6.000000   6.000000  ...   5.000000   7.000000
max     7.000000   7.000000   7.000000   7.000000  ...   7.000000   7.000000

             et2        et3        ee3        ci4        ee5  \
count  69.000000  69.000000  69.000000  69.000000  69.000000
mean    5.101449   5.318841   4.144928   2.202899   4.463768
std     1.716228   1.419328   2.204777   1.728479   2.159655
min     1.000000   2.000000   1.000000   1.000000   1.000000
25%     4.000000   4.000000   2.000000   1.000000   3.000000
50%     5.000000   5.000000   4.000000   1.000000   5.000000
75%     7.000000   7.000000   6.000000   3.000000   7.000000
max     7.000000   7.000000   7.000000   7.000000   7.000000

       @15.Emrelaçãoasuasatisfaçãocomotrabalho       sat1       sat2
count                                      0.0  69.000000  69.000000
mean                                       NaN   5.101449   5.202899
std                                        NaN   1.690327   1.586521
min                                        NaN   1.000000   1.000000
25%                                        NaN   4.000000   4.000000
50%                                        NaN   6.000000   5.000000
75%                                        NaN   6.000000   6.000000
max                                        NaN   7.000000   7.000000

[8 rows x 62 columns]

Mulheres 72
Homens 380

In [19]:
dados.idade.describe()

count    453.000000
mean      29.593819
std        6.623113
min       18.000000
25%       25.000000
50%       28.000000
75%       33.000000
max       59.000000
Name: idade, dtype: float64